.seatBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 25px;
    color: #fff;
    margin: 35px 0;
}

.seats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    width: 500px;
}
