.background {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(71, 71, 71, 0.4);
}

.window {
    background-color: #fff;
    border-radius: 10px;
}

.title {
    font-size: 25px;

    padding: 25px 25px;
}

.line {
    height: 1px;
    background-color: #000;
}

.name,
.time,
.seat {
    padding: 25px 25px;
    font-size: 20px;
}

.btns {
    display: flex;
    justify-content: center;

    color: #fff;
}

.reject {
    width: 45%;
    height: 50px;
    background-color: #ff2d2d;
    border-bottom-left-radius: 10px;

    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #fc5959;
    }
}

.resolve {
    width: 55%;
    height: 50px;
    background-color: #00d612;
    border-bottom-right-radius: 10px;

    cursor: pointer;

    transition: 0.3s;
    &:hover {
        background-color: #1dff2f;
    }
}
